@import '../../styles/card.scss';

.info{
    display: flex;
    //justify-content: center;
    justify-content: space-around;
}

h2{
    font-size: 3em;
}

.game-question{
    height: max-content;
}

.repeat{
    background-color: $blue;
    padding: 0.2em 0.2em;
    font-size: 3em;
    width: max-content;
    margin: auto 0;
}