@import '../../../styles/card.scss';
*, *::after, *::before {
	box-sizing: border-box;
}

.card-add{
	height: max-content;
	text-align: center;
	margin: auto 40px;
}

.quiz-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}