@import '../user/user.component.scss';

.conteneur{
    display: flex;
    flex-direction: column;
    align-items: center;
}


conteneur:nth-child(1){
    margin-left: 100%;
    margin-right: 100%;
}

.add:hover{
    font-size: 50px;
}

.title{
    font-weight: bold;
    font-size: 5em;
    text-align: center;
}

.addUser{
    margin-top: 40px;
    height: 30px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}

.userList{
    margin-top: 40px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
}