<div class="card">
  <h2>
    <div *ngIf="quiz; then thenBlock else elseBlock"></div>
    <ng-template #elseBlock>Créer un nouveau Quiz</ng-template>
    <ng-template #thenBlock>Modifier le Quiz</ng-template>
  </h2> 
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="title">
      <span class="span">Titre</span><br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">
      <span class=span>Thème</span><br>
      <select name="theme-field" id="theme" [formControlName]="'theme'">
        <option *ngFor="let currentTheme of THEME_LIST" [value]="currentTheme">
          {{currentTheme}}
        </option>
      </select>
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">{{action}}</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!--<br><br>{{quizForm.getRawValue() | json}}-->