<div class="popup">
    <div class="popup-body">
        <span class="span">{{info}}</span>
        <div *ngIf="saisie" class="button">       
            <input type="text"  ref-name placeholder="Entrez votre nom">
                <button *ngIf="buttonTrue != null" class="button-card" (click)="close(true, name.value)">{{buttonTrue}} </button>
                <button *ngIf="buttonFalse != null" class="button-card" (click)="close(false)">{{buttonFalse}}</button>
        </div>
        <div *ngIf="!saisie" class="button"> 
                <button *ngIf="buttonTrue != null" class="button-card" (click)="close(true)">{{buttonTrue}} </button>
                <button *ngIf="buttonFalse != null" class="button-card" (click)="close(false)">{{buttonFalse}}</button>
        </div>
    </div>
</div>
<div class="popup-background"></div>

 